apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "userlist.fullname" . }}-configmap
data:
  # property-like keys; each key maps to a simple value
  POSTGRESQL_HOSTNAME: "{{ .Release.Name }}-pg"
  POSTGRESQL_PORT_NUMBER: "{{ .Values.image.db.port }}"
  POSTGRESQL_URL: "postgres://postgres:$PGPASSWORD@{{ $.Release.Name }}-pg:{{ .Values.image.db.port }}/userlist?sslmode=disable"
